{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/wall.css') }}">
{% endblock %}
{% block content %}
    {% block flasher %}
        {{ super() }}
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>Kullanıcılar</h2>
                    <div class="activity-feed">

                    {% for user in users %}

                        <div class="feed-item">
                            <div class="text">{{ user.username }}</a>
                            </div>
                        </div>

                    {% endfor %}
                    </div>

                </div>
            </div>
        </div>

{% endblock %}